<h2>Welcome to the Inventory Control</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productList$" >
            <td>{{item.productId}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.category}}</td>
            <button class="btn btn-light">Editar</button>
            <button class="btn btn-light">Deletar</button>
        </tr>
            
        
    </tbody>

</table>